@font-face {
  font-family: 'ModernDOS';
  src: url('assets/ModernDOS8x16.ttf') format('truetype');
}

#title {
  font-family: ModernDOS, monospace;
}

#download {
  font-family: ModernDOS, monospace;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#description {
  font-family: ModernDOS, monospace;
  margin-top: 25px;
}

#screen_container_outer {
  background-color: #d1c499;
  width: 900px;
  height: 700px;
  overflow: hidden;
}

#screen_container_border {
  background-color: #000000;
  width: 800px;
  height: 600px;
  overflow: hidden;
}

#screen_container {
  white-space: pre;
  font-family: ModernDOS, monospace;
  font-size: 16px;
  line-height: 16px;
  background-color: #000000;
  color:#aaaaaa;
  width: 800px;
  height: 600px;
  margin: 50px 50px 50px 50px;
  overflow: hidden;
}

#serial_container {
  white-space: pre;
  font-family: monospace;
  font-size: 14px;
  line-height: 14px;
  background-color: #000000;
  color:#aaaaaa;
  width: 100%;
  height: 90vh;
  overflow: scroll;
}